.project-list-container {
    width: 666px;
    margin: 0 auto;

    article {
        margin: 0 0 45px;
        font-size: 2rem;
    }
}
li {
    display: flex;
    margin: 0 0 0.25rem;

    p {
        width: 200px;
        overflow: hidden;
        margin: 0 1px 0 0;
        text-wrap: nowrap;
    }
    p:after {
        letter-spacing: 0.25rem;
        content: "...................................................."; // Insert space after title
    }
}

h3 {
    margin: 0 0 1rem 0;
}

.repo {
    margin: 0 0 1rem 0;
}

@media only screen and (max-width: 1000px) {
    .project-list-container {
        width: 100%;
        padding: 0 0 0 80px;
    }
}

@media only screen and (max-width: 666px) {
    .project-list-container {
        width: 100%;
        padding: 0 0 0 50px;

        article {
            font-size: 1.5rem;
        }
    }
}
