<h3 class="mb-4">
    <app-link
        *ngIf="project.link"
        [linkUrl]="project.link"
        [linkText]="project.name"
        external="true"
    ></app-link>
    <span *ngIf="!project.link">{{ project.name }}</span>
</h3>
<div *ngIf="project.github !== 'private'" class="mb-4 flex">
    <p class="w-[225px] overflow-hidden text-nowrap">Repository</p>
    <app-link
        linkUrl="https://github.com/AbsentSemicolon/{{ project.github }}"
        [linkText]="project.github"
        external="true"
    ></app-link>
</div>
<app-project-detail
    class="mb-6 block"
    [linkList]="project.languageList"
    [name]="'Language'"
/>
<app-project-detail
    class="mb-6 block"
    [linkList]="project.frameworkList"
    [name]="'Framework'"
/>
<app-project-detail
    class="mb-6 block"
    [linkList]="project.thirdPartyList"
    [name]="'Third Party Tech'"
/>
<app-project-detail
    class="block"
    [linkList]="project.linkList"
    [name]="'Project Link'"
/>
