<div class="project-list-container">
    <article *ngFor="let project of projects">
        <div>
            <h3>
                <app-link
                    *ngIf="project.link"
                    [linkUrl]="project.link"
                    [linkText]="project.name"
                    external="true"
                ></app-link>
                <span *ngIf="!project.link">{{ project.name }}</span>
            </h3>
            <p *ngIf="project.github !== 'private'">
                Repository:
                <app-link
                    linkUrl="https://github.com/AbsentSemicolon/{{
                        project.github
                    }}"
                    [linkText]="project.github"
                    external="true"
                ></app-link>
            </p>
            <ul>
                <li class="multilevel">
                    <p>Language(s):</p>
                    <ul>
                        <li *ngFor="let lang of project.languageList">
                            {{ lang }}
                        </li>
                    </ul>
                </li>
                <li class="multilevel" *ngIf="project.frameworkList.length">
                    <p>Framework(s):</p>
                    <ul>
                        <li *ngFor="let fw of project.frameworkList">
                            {{ fw }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </article>
</div>
