@import "../../mixin";

header {
    display: flex;
    align-items: center;
    margin: 2.4rem 0;

    img {
        width: auto;
        height: 70px;
    }

    .header-content {
        display: flex;
        align-items: center;
        height: 100%;
    }

    h1 {
        @include font-thin();
    }

    h2 {
        @include font-thin();
    }

    .header-left {
        display: flex;
        padding: 0 2.4rem 0 0;
        border-right: 2px solid;
        margin: 0 2.4rem 0 0;
    }

    .header-right {
        nav {
            margin: 1rem 0 0;
            font-size: 2rem;

            app-link {
                margin: 0 2.4rem 0 0;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    header {
        height: auto;

        .header-content {
            flex-direction: column;
        }

        br {
            display: none;
        }

        .header-left {
            padding: 0;
            border: none;
            margin: 0 0 1rem;
        }

        .header-right {
            width: 100%;
            padding: 0 0 0 70px;
        }
    }
}

@media only screen and (max-width: 666px) {
    header {
        .header-content {
            flex-direction: column;

            img {
                height: 50px;
            }

            h2,
            h1 {
                width: 100%;
            }

            h1 {
                font-size: 5rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            .header-left {
                margin: 0 0 1.5rem;
            }

            .header-right {
                padding: 0 0 0 50px;
            }
        }
    }
}
