<header>
    <img height="80" width="80" src="./logo_large.png" />
    <div class="header-content">
        <h1>MissingSemicolon</h1>
        <div class="separator"></div>
        <h2>Christopher Tetreault&nbsp;</h2>
        <p>
            <span>A Portfolio:&nbsp;</span>
            <span
                ><app-link
                    linkUrl="https://www.linkedin.com/in/christopher-tetreault-js/"
                    linkText="LinkedIn"
                    external="true"
                ></app-link>
                <app-link
                    linkUrl="https://github.com/AbsentSemicolon"
                    linkText="GitHub"
                    external="true"
                ></app-link
            ></span>
        </p>
    </div>
</header>
