@import "../../mixin";

header {
    display: flex;
    align-items: center;
    height: 110px;

    img {
        width: auto;
        height: 80px;
    }

    .separator {
        margin: 0 2.4rem;
        height: calc(100% - 5rem);
    }

    .header-content {
        display: flex;
        align-items: center;
        height: 100%;
    }

    h1 {
        @include font-thin();
    }

    h2 {
        @include font-thin();
    }

    .header-left {
        display: flex;
    }

    .header-right {
        p {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 1000px) {
    header {
        height: auto;
        margin: 2.4rem 0;

        .header-content {
            flex-direction: column;
        }

        br,
        .separator {
            display: none;
        }

        .header-right {
            width: 100%;
            padding: 0 0 0 80px;
        }
    }
}

@media only screen and (max-width: 666px) {
    header {
        margin: 1.5rem 0;

        .header-content {
            flex-direction: column;

            img {
                height: 50px;
            }

            h2,
            h1 {
                width: 100%;
            }

            h1 {
                font-size: 5rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            .header-left {
                margin: 0 0 1.5rem;
            }

            .header-right {
                padding: 0 0 0 50px;
            }
        }
    }
}
