<header>
    <img height="80" width="80" src="./logo_large.png" />
    <div>
        <h1>Christopher Tetreault</h1>
        <h2>
            A Portfolio:
            <a
                href="https://www.linkedin.com/in/christopher-tetreault-js/"
                target="_blank"
                rel="noopener noreferrer"
                >LinkedIn<sup>🔗</sup></a
            >&nbsp;

            <a
                href="https://github.com/AbsentSemicolon"
                target="_blank"
                rel="noopener noreferrer"
                >GitHub<sup>🔗</sup></a
            >
        </h2>
    </div>
</header>
