<header>
    <img height="80" width="80" src="./logo_large.png" />
    <div class="header-content">
        <h1>Christopher Tetreault&nbsp;</h1>
        <h2>
            <span>A Portfolio:&nbsp;</span>
            <span
                ><a
                    href="https://www.linkedin.com/in/christopher-tetreault-js/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >LinkedIn<sup>🔗</sup></a
                >&nbsp;

                <a
                    href="https://github.com/AbsentSemicolon"
                    target="_blank"
                    rel="noopener noreferrer"
                    >GitHub<sup>🔗</sup></a
                ></span
            >
        </h2>
    </div>
</header>
