@import "./_mixin.scss";

/* You can add global styles to this file, and also import other style files */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
sup,
article,
div,
a,
span {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    position: relative;
    line-height: 1;
}

ul,
li {
    list-style-type: none;
}

body {
    @include font-normal();
    font-size: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.separator {
    width: 2px;
    height: 100%;
}
