<span *ngIf="external">
    <a
        href="{{ linkUrl }}"
        class="border-b-2 border-[transparent] text-link transition-colors duration-300 ease-in-out hover:border-link/80 hover:text-link/80"
        target="_blank"
        rel="noopener noreferrer"
        >{{ linkText }}&nbsp;<span class="material-icons text-[75%]"
            >open_in_new</span
        ></a
    >
</span>
<span *ngIf="!external">
    <a class="text-link hover:underline" href="{{ linkUrl }}">{{ linkText }}</a>
</span>
